<!-- <ActionBar>
    <Label text="Flashlight"></Label>
</ActionBar> -->

<GridLayout>
    <!-- Add your page content here -->
    <!-- <Button *ngIf="isOn" text="Turn Off" (tap)="onTap($event)"></Button>
    <Button *ngIf="!isOn" text="Turn On" (tap)="onTap($event)"></Button> -->

    <Button *ngIf="isOn" class="fas" style="font-size: 50em; color: yellow" text="&#xf013;"
        (tap)="onTap($event)"></Button>

    <Button *ngIf="!isOn" class="fas" style="font-size: 50em; color: gray" text="&#xf013;"
        (tap)="onTap($event)"></Button>
</GridLayout>
